@font-face {
    font-family: myFont;
    src: url('../fonts/HankenGrotesk-VariableFont_wght.ttf');
}

:root {
    /*Colors
Primary*/
    --lightRed: hsl(0, 100%, 67%);
    --orangeyYellow: hsl(39, 100%, 56%);
    --greenTeal: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
    /*Gradients*/
    --lightSlateBlue-background: hsl(252, 100%, 67%);
    --lightRoyalBlue-background: hsl(241, 81%, 54%);
    --violetBlue-circle: hsla(256, 72%, 46%, 1);
    --persianBlue-circle: hsla(241, 72%, 46%, 0);
    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --darkGrayBlue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: myFont;
    font-size: 18px;
}

main {
    max-width: 100vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem 2.5rem;
    background: linear-gradient(to bottom, var(--lightSlateBlue-background), var(--lightRoyalBlue-background));
    color: var(--white);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

h1 {
    color: var(--paleBlue);
    opacity: 0.6;
    margin: 0 0 1.5rem 0;
    padding: 0;
    font-size: 1.1rem;
}

.result {
    width: 9rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(to bottom, var(--violetBlue-circle), var(--persianBlue-circle));
    margin-bottom: 1.3rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 3.4rem;
}

.resultText {
    opacity: 0.5;
    font-size: 1rem;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
}

h3 {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-size: 1.5rem;
}

.resultMsg {
    display: block;
    text-align: center;
    font-size: 1rem;
    opacity: 0.7;
}


section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1.4rem 2rem;
}

h4 {
    margin-bottom: 1.6rem;
}

.reaction,
.memory,
.verbal,
.visual {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.8rem;
    font-size: 1rem;
    margin: 0 0 1.2rem;
    border-radius: 0.8rem;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 8%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 20%)
}

.verbal {
    background-color: hsla(166, 100%, 37%, 20%)
}

.visual {
    background-color: hsla(234, 85%, 45%, 10%);
}

.reaction strong {
    display: flex;
    align-items: center;
    color: var(--lightRed);
}

.memory strong {
    display: flex;
    align-items: center;
    color: var(--orangeyYellow);
}

.verbal strong {
    display: flex;
    align-items: center;
    color: var(--greenTeal);
}

.visual strong {
    display: flex;
    align-items: center;
    color: var(--cobaltBlue);
}

section img {
    margin-right: 0.8rem;
}

section span {
    color: var(--lightLavender);
}

section i {
    font-style: normal;
    font-weight: bold;
    color: var(--darkGrayBlue);
    margin: 0.4rem;
}

button {
    border: none;
    color: white;
    background-color: var(--darkGrayBlue);
    padding: 1.1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 2rem;
    margin-top: 0.4rem;
}

@media (min-width: 800px) {
    body {
        height: 100%;
        margin-top: 7rem;
    }

    main {
        width: 46rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 0px 0px 10px #00000070;
        height: 32rem;
        border-radius: 2rem;
    }

    aside {
        padding: 2rem 2rem;
        height: 100%;
        border-radius: 2rem;
    }

    h1 {
        margin: -1rem 0 2rem -0.5rem;
        font-size: 1.5rem;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .result {
        width: 12.5rem;
        height: 13rem;
        margin-top: 00rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 4.4rem;
    }

    .message {
        padding: 0rem 1.7rem;
        width: 100%;
        height: auto;
    }

    h3 {
        font-size: 1.9rem;
        margin-bottom: 1rem;
        margin-top: 0rem;
        width: 100%;
        text-align: center;
    }

    .resultMsg {
        margin-bottom: 0rem;
        font-size: 1.1rem;
        width: 100%;
        height: auto;
    }

    section {
        height: 100%;
    }

    h4 {
        font-size: 1.5rem;
        margin-left: 0.5rem;
        margin-top: 1rem;
    }

    .reaction,
    .memory,
    .verbal,
    .visual {
        padding: 1.2rem 1.5rem;
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }

    button {
        margin: 1.6rem 1.6rem 1.6rem 0.5rem;
        width: 95%;
    }
}